* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    position: relative;
    width: 100%;
    height: 15vh;
    color: #fff;
    overflow: hidden;
    /* background-color: #4f64dc; */
    
}

.hidden {display: none;}

body {
    min-height: 100vh;
    background-image: url(../images/concert_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bubbles {
    position: absolute;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,0 0 50px #4fc3dc,0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));   
}
.bubbles span:nth-child(even){
    box-shadow: 0 0 0 10px #ff2d7544,0 0 50px #ff2d75,0 0 100px #ff2d75;
}
@keyframes animate {
    0%
{
    transform: translateY(100vh) scale(0);
}
100%
{
    transform: translateY(-10vh) scale(1);
}
}

a{
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

header {
    /* position: absolute; */
    top: 1rem;
    left: 60%;
}

#logo {
    width: 120px;
    cursor: pointer;
    margin-right: 35px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 0;
}

.nav-list {
    display: flex;
    gap: 6rem;
}

li{
    font-size: 20px;
    font-weight: 700;
}

/* .description {
    position: absolute;
    top: 30%;
    left: 5rem;
    width: 100%;
    height: 60%;
    color: #fff;
} */

h1{
    font-size: 80px;
}

h2{
    font-size: 55px;
    width: 93%;
    padding-top: 1rem;
}


#game-boards {
    /* margin-top: -50px; */
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
	height: 800px;
    color: inherit;
	overflow: hidden;
    margin: 0 auto;
    position: relative;
    
}

#pieces {
    margin-top: -50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.puzzle-pieces {
    width: 40%;
    height: 150px;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
	border: 1px solid rgb(255, 255, 255);
	background-color: rgb(11, 94, 177,0.5);
	color: inherit;
	overflow: hidden;
    margin: 0 auto;
    z-index: 3;

}


#layer {
    margin-top: -300px;
    width: 50%;
    position: absolute;

}

.puzzle-image {
	width: 20%;
	display: block;
	padding: 8px;
	cursor: pointer;
    /* border: 2px solid rgb(255, 255, 255); */
    /* background-color: rgb(16, 32, 73, 0.5); */
}


#mainDrop {
    
	width: 370.5px;
	/* height: 440.5px; */
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 3;
}

.dropZone {
    /* background-color: #4f64dc; */
    width: 65px;
	height: 65px;
	z-index: 3;
    position: relative;

}
#game-boards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.puzzle-board,
.puzzle-pieces {
    margin: 0 10px;
}

.drop-zone img {
	float: none;
	padding: 0;
	position: absolute;
	width: 100%;
}

.dropRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@keyframes grow {
    0% {height: 10px;}
    50% {height: 20px;}
    100% {height: 10px;}
}

/* @keyframes music-wave {
    0% {transform: scale(0);}
    50% {transform: scale(1);}
    100% {transform: scale(0);}
} */

/* .box {
    width: 10px;
    height: 5px;
    background-color: red;
    display: inline-block;
} */

#music-wave {
    display: inline-block;
    
}

#red {
    animation: grow 0.6s ease-out infinite;
}

#orange {

    animation: grow 0.8s ease-out infinite;

}
#yellow {

    animation: grow 0.9s ease-out infinite;
}

#green {

    animation: grow 0.9s ease-out infinite;
}

#blue {

    animation: grow 0.9s ease-out infinite;
}

#deep-blue {

    animation: grow 0.9s ease-out infinite;
}

#purple {

    animation: grow 0.9s ease-out infinite;
}

.audio-controls {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 170px;
    margin-top: -440px;
}

.audio-controls button {
    padding: 0.2em 0.5em;
    margin: 0.2em 0.3em;
    border-radius: 50%;
    background-color: rgb(178, 0, 0);
    color: white;
    font-size: 1em;
    cursor: pointer;
    z-index: 3;
  }

#volumeControl {
    background-color: #ff2d75;
    z-index: 3;
}

.speakerCircle {
    animation: speackerSound 0.5s infinite forwards;
  }

  @keyframes speackerSound {
    0% {transform: scale(1);}
    50% {transform: scale(1.005);}
  }

.eyesAnimate {
    fill: rgb(0, 0, 0);
    animation: colorChange 2s infinite forwards;
}

@keyframes colorChange {
    0% {
        fill: rgb(0, 0, 0);
    }
    25% {
        fill: rgb(255, 31, 214);
    }
    50% {
        fill: rgb(0, 145, 255);
    }
    75% {
        fill: yellow;
    }
    100% {
        fill: rgb(255, 0, 0);
    }
  }

  .speakerCircle2 {
    animation: speackerSound2 0.5s infinite forwards;
  }

  @keyframes speackerSound2 {
    0% {transform: scaleY(1);}
    50% {transform: scaleY(1.1);}
  }


